#!/bin/zsh

source ~/.local/share/chezmoi/.chezmoiscripts/.log.sh 

script_name=$(basename "$0")
log_message "INFO" ">>> $script_name is running"

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
    mkdir -p "${HOME}/.config/chezmoi"
    chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi

log_message "INFO" "<<< $script_name finished"