{{- if ne .chezmoi.os "windows" }}
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    include = ["*/*.zsh", "*/.version", "*/.revision-hash", "*/highlighters/**"]
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.15.0.tar.gz"
    exact = true
    stripComponents = 1
{{- end }}

{{- if eq .chezmoi.os "windows" }}
["Projects/yasb"]
    type = "archive"
    url = "https://github.com/da-rth/yasb/archive/refs/heads/main.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    exclude = ["*/__pycache__/**"]
["AppData/Roaming/Rime"]
    type = "archive"
    url = "https://github.com/hugh7007/xmjd6-rere/archive/refs/heads/main.zip"
    # url = "https://github.com/hugh7007/xmjd6-rere/releases/download/20240412/xmjd6.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- else if eq .chezmoi.os "darwin" }}
["Library/Rime"]
    type = "archive"
    url = "https://github.com/hugh7007/xmjd6-rere/archive/refs/heads/main.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- else }}
[".config/ibus/rime"]
    type = "archive"
    url = "https://github.com/hugh7007/xmjd6-rere/archive/refs/heads/main.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}

{{- if eq .chezmoi.os "not_exist" }}
[".local/share/navi/cheats/brew.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/pkg_mgr/apt.cheat"
[".local/share/navi/cheats/apt.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/pkg_mgr/brew.cheat"
[".local/share/navi/cheats/javascript.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/pkg_mgr/javascript.cheat"
[".local/share/navi/cheats/curl.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/network/curl.cheat"
[".local/share/navi/cheats/network.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/network/network.cheat"
[".local/share/navi/cheats/docker.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/container/docker.cheat"
[".local/share/navi/cheats/kubernetes.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/container/kubernetes.cheat"
[".local/share/navi/cheats/git.cheat"]
    type = "file"
    url = "https://github.com/denisidoro/cheats/raw/addb1ea64acaf55f8958d77dfa9e2a9379ab4d28/code/git.cheat"

[".local/bin/ssh-ident"]
    type = "file"
    url = "https://raw.githubusercontent.com/ccontavalli/ssh-ident/66a00104057411d85592411455261284d08bb065/ssh-ident"
    executable = true

[".config/zsh/ohmyzsh-git-plugin.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/5d3e86e2a48adf7a308773f8f1b725d187c7c5ef/plugins/git/git.plugin.zsh"

[".config/zsh/zsh-autocomplete"]
    type = "git-repo"
    url = "https://github.com/marlonrichert/zsh-autocomplete.git"
{{- end }}