# chezmoi:template:left-delimiter=#{{
#{{ range $_, $func := list "install" "uninstall" "upgrade" -}}
#{{ template "powershell/winget.ps1" $func }}
#{{ end }}

#{{ template "powershell/komo.ps1" . }}
#{{ template "powershell/alias.ps1" . }}
#{{ template "powershell/self-elevate.ps1" . -}}
